<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" lang="RU">
<head>
    <meta charset="UTF-8">
    <title>Данные счетчика</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container" style="text-align: center" sec:authorize="isAuthenticated()">
    <h2>Добавить данные счетчика</h2>
    <form th:action="@{/meters/add}" method="POST">
        <div class="form-row row justify-content-center">
            <label>Участок
                <select name="account" class="form-control">
                    <option th:each="account : ${accounts}"
                            th:value="${account.id}"
                            th:text="${account.houseNumber}">
                    </option>
                </select>
            </label>
            <div class="form-group">
                <label for="serialNumber">Серийный номер счетчика</label>
                <input type="text" class="form-control" id="serialNumber" name="serialNumber" placeholder="Серийный номер">
            </div>
            <div class="form-group">
                <label for="model">Модель счетчика</label>
                <input type="text" class="form-control" id="model" name="model" placeholder="Модель счетчика">
            </div>
            <div class="form-group">
                <label for="stringDate">Дата плановой поверки</label>
                <input type="text" class="form-control" id="stringDate" name="stringDate" placeholder="Дата поверки" value="22-02-2022">
            </div>
            <label>Тип счетчика
                <select name="type" class="form-control">
                    <option th:each="category : ${T(ru.geekbrains.domodel.entities.constants.MeterType).values()}"
                            th:value="${category}"
                            th:text="${category.description}">
                    </option>
                </select>
            </label>
            <label>Тариф
                <select name="tariff" class="form-control">
                    <option th:each="tariff : ${tariffs}"
                            th:value="${tariff.id}"
                            th:text="${tariff.description}">
                    </option>
                </select>
            </label>
        </div>
        <button type="submit" class="btn btn-success">Добавить</button>
    </form>
</div>
</body>
</html>