<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8"/>

    <title>Блок новостей</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container" th:if="${username != null}">
    <div th:text="'Вы вошли как пользователь ' + ${username}"/>
    <form th:action="@{/logout}" method="POST">
        <input type="submit" class="btn btn-danger" value="Выйти" />
    </form>
</div>

<div class="container">
    <h1>Новости</h1>
    <span th:if="${news.size() == 0}">Новостей пока нет</span>
    <table th:if="${news.size() > 0}" class="table table-hover">
        <tbody>
        <tr>
            <th colspan="7">Список новостей:</th>
        </tr>
        <tr>
            <td>Индекс</td>
            <td>Заголовок</td>
            <td>Дата создания</td>
            <td>Полный текст</td>
            <td>Адрес картинки</td>
            <td>Новость публична</td>
            <td>Новость закреплена</td>
            <td>Новость актуальна</td>
            <td>Автор</td>
        </tr>
        <tr th:each="item : ${news}">
            <td th:text="${item.id}"/>
            <td th:text="${item.title}"/>
            <td th:text="${item.creationDate}"/>
            <td th:text="${item.fullText}"/>
            <td th:text="${item.pictureLink}"/>
            <td th:text="${item.hidden}"/>
            <td th:text="${item.pinned}"/>
            <td th:text="${item.visible}"/>
            <td th:text="${item.authorId.username}"/>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
