<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ru">


<head th:fragment="header(title)">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>${title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

</head>


<nav th:fragment="navbar(activeTab)" class="navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" th:href="@{/}">Домодел</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item" th:classappend="${activeTab == 'Home' ? 'active' : ''}">
                <a class="nav-link" th:href="@{/}">Главная<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" th:classappend="${activeTab == 'profile' ? 'active' : ''}">
                <a class="nav-link" th:href="@{/profile}">Профиль пользователя<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ADMIN')" th:classappend="${activeTab == 'users' ? 'active' : ''}">
                <a class="nav-link" th:href="@{/users}">Управление пользователями (только для админа)<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" th:classappend="${activeTab == 'accounts' ? 'active' : ''}">
                <a class="nav-link" th:href="@{/accounts}">Лицевые счета<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" th:classappend="${activeTab == 'bills' ? 'active' : ''}">
                <a class="nav-link" th:href="@{/bills}">Счета (платежные документы)<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" th:classappend="${activeTab == 'meters' ? 'active' : ''}">
                <a class="nav-link" th:href="@{/meters}">Счетчики показаний<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" th:classappend="${activeTab == 'news' ? 'active' : ''}">
                <a class="nav-link" th:href="@{/news}">Новости<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" th:classappend="${activeTab == 'requisites' ? 'active' : ''}">
                <a class="nav-link" th:href="@{/requisites}">Реквизиты компании<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div th:fragment="footer">
    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!--Bootstrap js-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</div>


</html>